*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  font-family: var(--font-basic, --font-basic);
  font-style: normal;
  font-size: 20px;
  line-height: 1.43;
  font-weight: 400;
  color: var(--text-primary, #2d383f);
}

.wrapper {
  padding: 0 15px;
  min-width: 320px;

  width: 100%;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
    max-width: 1600px;
  }
}

