:root {
  --font-basic: "Montserrat", "Arial", sans-serif;
  --text-primary: #2d383f;
  --text-secondary: #ffffff;
  --overlay-slide: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 40%, transparent 83%);
  --overlay-body: rgba(45, 56, 63, 0.6);
  --overlay-card: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 24%, transparent 51%);
  --overlay-menu: rgba(45, 56, 63, 0.6);
  --back-primary: #0266c1;
  --back-secondary: linear-gradient(142deg, rgba(75, 94, 149, 1) 0%, rgba(95, 130, 196, 1) 34%, rgba(130, 164, 201, 1) 65%);
  --back-primary-dark: #1c3374;
  --border: #ffffff;
  --border-secondary: #0266c1;
  --border-dark: #2d383f;
  --border-light: rgba(255, 255, 255, 0.5);
  --border-primary: rgba(2, 102, 193, 0.1);
  --border-primary-dark: rgba(45, 56, 63, 0.3);
  --button-burger: #ffffff;
}

$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;
